.Login {
    width: 50%;
    margin: 0 auto;
}

.Login form {
    display: grid;
    width: 50%;
    margin: 0 auto;
}

.Login form input[type="text"],
.Login form input[type="password"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid wheat;
}

.Login form input[type="submit"] {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    background: #455859;
    color: white;
    font-size:18px;
}

.Login form input[type="submit"]:hover {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #455859;
    background: white;
    color: #455859;
}