.App {
  text-align: center;
}
/*h1 {*/
  /*text-align: center;*/
  /*width: 100%;*/
/*}*/

form {
  width: 20%;
  margin: 0 auto;
  display: flex;
}

body {
  text-align: center;
  font-family: 'Roboto Mono',
  monospace;
  color: rgb(165, 165, 165);
  font-size: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  pointer-events: none;
  border: none;
}

/*.App-header {*/
  /*background-color: #282c34;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*font-size: calc(10px + 2vmin);*/
  /*color: white;*/
/*}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.AppForms {
  display: block;
}

.create-form {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.games {
  text-align: center;
}

.game {
  text-align: center;
}

img {
  text-align: center;
  width: 400px;
  height: 400px;
  border: 2px solid rgb(221, 221, 221);
  border-radius: 10px;
}

.create-form form input[type="text"] {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);

}

.create-form form textarea {

  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(221, 221, 221);
}

.create-form form input[type="submit"],
button {
  width: 100%;
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(221, 221, 221);
  background: #455859;
  color: rgb(221, 221, 221);
  font-size: 18px;
}

.create-form form input[type="submit"]:hover
{
  width: 100%;
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #455859;
  background: rgb(221, 221, 221);
  color: #455859;
}

.create-form form {
  display: grid;
  width: 100%;
}

button {
  width: 25%;
  margin: 10px auto 0;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  background: #a5a5a5;
  color: white;
  font-size: 18px;
}

button:hover{
  border: 2px solid #455859;
  background:white;
  color: #455859;
}

input[type="button"] {
  width: 25%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  background: #455859;
  color: white;
  font-size:18px;
}

input[type="button"]:hover {
  width: 25%;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #455859;
  background:white;
  color: #455859;
}

/* div.MuiSnackbarContent-root-252 {
  width: 100%;
  color: rgb(165, 165, 165);
} */

span.MuiTypography-root-43 {
  max-width: 100%;
  color: rgb(165, 165, 165);
  align-content: right;
  text-align: right;
}




